
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Oswald:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

  :root{
    --gray-clr : #303030 ;
    --yellow-clr : #e8631c;
  }

 html{
    font-size: 10px;
 }


body{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.navbar{
   background: var(--gray-clr);
   display: flex;
   justify-content: space-between;
   padding: 10px 20px;
   align-items: center;
   position: relative;
}

.navbar .logo img{
     height: 50px;
     width: 100px;
}

.navbar .nav nav ul li{
    display: inline-block;
    margin: 0 20px;
}

.navbar .nav ul li a{
    color: #fff;
    font-size: 2.5rem;
    transition: .2s ease-in;
}
.navbar .nav ul li a:hover{
    color: var(--yellow-clr);
}
.navbar .search{
    color: #fff;
}

.navbar .search  .icon{ 
       font-size: 2.5rem;
       cursor: pointer;
       transition: .2s ease-in;
}
.navbar .search  .icon:hover{
    color: var(--yellow-clr);
}

.navbar .search .search_input{
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #f5ececdf;
    line-height: 100vh;
    margin: 19px 0;
    cursor: pointer;
    display: none;
}

.navbar .search .search_input input{
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    height: 50px;border-bottom: 3px solid;
    border-color: var(--yellow-clr);
    display: block;
    margin: 20% auto;
    text-align: center;
    font-size: 2.5rem;
    color: var(--yellow-clr);
}

.navbar .search .search_input input::placeholder{
    text-align: center;
    font-size: 2.5rem;
    color: var(--yellow-clr);
}

/* toggle btn */

.toggle_Btn{
    position: absolute;
    right: 0;
    font-size: 2.5rem;
    margin: 0 3rem;
    top: 2rem;
    cursor: pointer;
    color: #fff;
    transition: .2s ease-in;
    display: none;
}
.toggle_Btn:hover{
    color: var(--yellow-clr);
}

/* container */

/* Header Content  */

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

header .content{
    height: 100vh;
    width: 100%;
    background: url('../images/hero.png');
    background-position: center;
    background-size: cover;
}

header .content .text{
    padding: 140px 0;
}
header .content .text h1{
    font-size: 12.5rem;
    color: #fff;
}
header .content .text p{
    color: #fff;
    font-size: 3rem;
}

header .content .text .btn{
    display: block;
     height: 7rem;
     line-height: 7rem;
    background: var(--yellow-clr);
    color: #fff;
    text-align: center;
    font-size: 3rem;
    width: 326px;
    transition: .2s ease-in;
    margin-top: 20px;
}
header .content .text .btn:hover{
    background: transparent;
    border: 1px solid var(--yellow-clr);
}



/* section */

section{
    padding: 110px 0;
}


.dancer_tour{
    background-color: var(--yellow-clr);
    position: relative;
}



.heading {
    text-align: center;
}

.heading h1{
    font-size: 7.5rem;
    color: #fff;
}

.heading p{
    font-size: 3rem;
    padding: 2rem 0 ;
    color: #fff;

}

.tour_items {
    display: flex;
    justify-content: center;
    gap: 7rem;
    margin-top: 8rem;
}

.tour_items  .item{
    height: 492px;
    width: 350px;
    position: relative;
}
.tour_items  .item .img{
    height: 336px;
}
.tour_items  .item .img img{
    height: 100%;width: 100%;
    margin: 0 auto;
    display: block;
}

.tour_items  .item  .text{
    position: absolute;
    height: 16rem;
    background: var(--gray-clr);
    width: 100%;
    text-align: center;
    padding: 2rem;
}

.tour_items  .item  .text h2{
    font-size: 3.2rem;
    color: #ffff;
    text-transform: uppercase;
}
.tour_items  .item  .text p{
    font-size: 2.2rem;
    color: #ffff;
    
}


.dotimg{
    position: absolute;
    top: 0;
  left: -10%;
  overflow: hidden;
}

.dotimg img{
    width: 700px;
    left: 0;
    margin-left: -140px;
}

/* prcing table  */



.pricing_table {
    background-color: var(--gray-clr);
    position: relative;
}

.pricing{
    display: flex;
    margin-top: 7rem;
    justify-content: center;
    gap: 3rem;
    position: relative;
}

.pricing .item{
    background-color: var(--yellow-clr);
    padding: 30px;
    text-align: center;
}

.pricing_table .item h2{
    font-size: 3.6rem;
    color: #fff;
    padding: 20px 0;
    text-transform: uppercase;
}
.pricing_table .item p{
    font-size: 2.2rem;
    color: #fff;


}

.pricing .item .price{
    margin-top: 30px;
    background: var(--gray-clr);
    text-align: center;
    padding: 15px 0;
    font-size: 2.5rem;
    color: #fff;
}

.dots_images{
    position: absolute;
    height: 100%;width: 100%;
    bottom: 0;
}

.dots_images .top {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 0 ;
    left: 0;
    
}

.dots_images .top  img{
    height: 600px;
}
.dots_images .bottom {
    height: 500px;
    width: 500px;
    position: absolute;
    bottom: 0 ;right: 0;
}

.dots_images .bottom  img{
    height: 600px;
}


/* portfolio */

.portfolio_item{
    display: flex;
    height: 94.8rem;
}

.portfolio_item .img{
    width: 100%;
    width: 50%;
}
.portfolio_item .img img{
    width: 100%;
    height: 100%;
}
.portfolio_item .text{
    flex: 50%;
    background: var(--yellow-clr);
    padding: 300px 50px;
    height: 100%;
}
.portfolio_item .text h1{
    font-size: 7.5rem;
    color: #fff;
}
.portfolio_item .text p{
    margin-top: 4rem;
    font-size: 3rem;
    color: #fff;text-align: left;
}
.portfolio_item .text a.btn{
    padding: 10px 30px;
    display: block;
    background: var(--gray-clr);
    width: 300px;
    font-size: 3rem;
    color: #fff;

margin-top: 7rem;
  text-transform: uppercase;
  transition: 0.2s ease;
  text-align: center;
}

.portfolio_item .text a.btn:hover{
    background: transparent;
    border: 1px solid var(--gray-clr);
    color: var(--gray-clr);
}


/* statics_sec000 */


.statics_sec {
    background: var(--gray-clr);
}

.statics_sec .statics{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 16.6rem;
    margin-bottom: 16.6rem;
}

.statics_sec .statics .item h2{
    font-size: 6.6rem;
    color: #fff;
}


.statics_sec .statics .item p{
    color: #fff;
    font-size: 4.1rem;
}


/* hero2 */
.hero2 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#5f1111,#72141488),url('../images/hero2.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
}


.hero2 p{
    font-size: 5rem;
}
.hero2 h2{
    margin-top: 3rem;
    font-size: 5.8rem;
    text-transform: uppercase;
}


/* subscribe */

.subscribe {
    background-color: var(--yellow-clr);
    position: relative;
    overflow: hidden;
}

.subscribe .content {
    text-align: center;
    margin: 0 auto;
}

.subscribe .content h2{
    font-size: 7rem;
    color: #fff;
}

.subscribe .content p {
    font-size: 3rem;
    margin-top: 3rem;
    color: #fff;
}

.subscribe .content .form {
    margin-top: 3rem;
    width: 742px;
     position: relative;
     font-size: 2.5rem;
     margin-left: 4rem;
     text-align: left;
    margin: 20px  auto ;

}
.subscribe .content .form input {
    padding: 15px 5px;
    width: 80%;
    outline: none;
    margin-left: -40px;
}
.subscribe .content .form  button{
    border: 0;
    outline: 0;
    padding: 10px 25px;
    background: var(--gray-clr);
    font-size: 2.5rem;
    margin-top: 0px;
   margin-left:-.2rem;
   height: 50px;
   position: absolute;
   color: #fff;
   cursor: pointer;
   transition: .2s ease-in;
}

.subscribe .content .form  button:hover{
    background: transparent;
    border: 1px solid var(--gray-clr);
    color: var(--gray-clr);
}


/* subscribe */

.subscribe::before{
    content: '';
    position: absolute;
    background-image: url('../images/dots.png');
    height: 600px;
    width: 800px;
    left: -30%;
    top: 0;
}

.subscribe::after{
    content: '';
    position: absolute;
    background-image: url('../images/dots.png');
    height: 600px;
    width: 800px;
    right: 0%;
    top: 0;
}


/* footer */

.footer {
    background: var(--gray-clr);
}

.footer footer {
    display: grid;
    grid-template-columns: 400px auto auto auto;
}

.footer footer h2{
     font-size: 3.3rem;
     color: #fff;
     margin-bottom: 3rem;
}

.footer footer div{
    text-align: right;
}
.footer footer div:nth-child(1){
    text-align: left;
}

.footer footer ul,li , .footer footer p{
    color: #fff;
    margin: 10px 0;
    font-size: 2.5rem;
    cursor: pointer;
    transition: .2s ease-in;
}

.footer footer ul li:hover{
    color: var(--yellow-clr);
}
.footer footer .social ul {
    text-align: left;

}
.footer footer  .social ul li{
    display: inline-block;
    margin: 0 10px;
    height: 30px;
    width: 30px;
    background: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: .2s ease;
}

.footer footer  .social ul li a{
    color: var(--gray-clr);
}
.footer footer  .social ul li a:hover{
    color: #fff;
}
.footer footer  .social ul li:hover{
    background: var(--yellow-clr);
}



/* Scrol animation */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }