
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Oswald:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

  :root{
    --gray-clr : #303030 ;
    --yellow-clr : #e8631c;
  }

 html{
    font-size: 10px;
 }


body{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}




/* Scrol animation */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
